.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: #1305a8;
}



.image-container{
height: 100%;
width: 100%;
}

.image-container img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
}


.button {
    background-color: #ffffff;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
  }

  @keyframes glowing {
    0% {
      background-color: #1a1a1acc;
      box-shadow: 0 0 3px #000000;
    }
    25% {
        background-color: #757575;
        box-shadow: 0 0 3px #000000;
      }
    50% {
      background-color: #3d3d3d;
      box-shadow: 0 0 10px #000000;
    }
    75% {
        background-color: #212121;
        box-shadow: 0 0 10px #000000;
      }
    100% {
      background-color: #000000;
      box-shadow: 0 0 3px #000000;
    }
  }

  .button {
    animation: glowing 4000ms infinite;
  }


  
  .rotate {
    animation: rotation 2s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }