section{
    height: 100vh;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

.island-pic{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: .5;
}

.main-text h1{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30;
}

.button {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
  }

  @keyframes glowing {
    0% {
      background-color: #0590a8cc;
      box-shadow: 0 0 3px #2ba805;
    }
    25% {
        background-color: #1305a8;
        box-shadow: 0 0 3px #2ba805;
      }
    50% {
      background-color: #e82719;
      box-shadow: 0 0 10px #49e819;
    }
    75% {
        background-color: #d7e819;
        box-shadow: 0 0 10px #49e819;
      }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 3px #2ba805;
    }
  }

  .button {
    animation: glowing 4000ms infinite;
  }