div{
    height: 10vh;
}

.main-container{
    position: relative;
}

.island-pic{
    position: absolute;
    width: 100%;
    height: auto;
    
    opacity: .5;
}

.main-text h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(red, green, blue, 0.5);
}